body {
    font-family: sans-serif;
    background: #f4f4f4;
    padding:20px;
}
.container {
    background: white;
    padding: 20px; border-radius:8px;
    max-width: 400px;
    margin:auto;
}

form div {
    margin-bottom: 15px; 
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

button {
    width: 100%; 
    padding: 10px; 
    background: #28a745; 
    color: white; 
    border: none; 
    cursor: pointer;
}

button:hover{
    background-color: #0056b3;
}
nav {
    background: #333;
    padding: 15px;
    color: white;
}

nav a {
    color: white;
    text-decoration:none;
    font-weight: bold;
}
