<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi App Flask</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>

    <!--
    Esta es la plantilla base, la cual se relaciona con dos plantillas: login.html y registro.html, además, se enlaza utilizando url_for a los archivos HTML y CSS
    Adicionalmente, también maneja los mensajes que son enviados por la función flash() son renderizados usando jinja2 como lo podemos ver más abajo
    -->
    <nav>
        <a href="{{url_for('inicio')}}">Inicio</a>
        <a href="{{url_for('login')}}">Login</a>
        <a href="{{url_for('registro')}}">Registro</a>
    </nav>
    <hr>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p style="color:red">{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <main class="container">
        {% block content %}
        
        {% endblock %}
    </main>
</body>
</html>