<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi App Flask</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <!--Plantilla básica que se mostrará en el inicio de la aplicación-->
    <nav>
        <a href="{{url_for('inicio')}}">Inicio</a>
        <a href="{{url_for('login')}}">Login</a>
        <a href="{{url_for('registro')}}">Registro</a>
    </nav>
    <h1>Bienvenidos SEAN TODOS</h1>
</body>
</html>